# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/PhilanRClient/node_modules
/PhilanRClient/build
/PhilanRClient/.env

/Server/build
/Server/node_modules
/Server/.env
/Server/sneaky.txt

npm-debug.log*
yarn-debug.log*
yarn-error.log*
