

 .bardiv
 {position: relative;
    height: 33%;
  /*  width: 30vw; */}



 .linediv
 {position: relative;
     height: 33%;
    /* width: 30vw;*/ }


 .dondiv
 {position: relative;
     height: 33%;
   /*  width: 65vw;
     padding-right: 35vw*/;
     }
